.team-row{
    display: flex;
    align-items: center;
}

.team-row--logo{
    width: 72px;
    margin: 12px;
}

.ui.cards{
    justify-content: space-between;
    margin: 42px;
}

.ui.card:after, .ui.cards:after{
    content: none;
}

.vs-logo-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ui.mini.image{
    width: 58px;
}

.match-up-header{
    text-align: center;
}

.ui.placeholder.segment{
    min-height: initial;
    text-align: center;
    margin: 48px;
}

.margin-me{
    margin: 42px;
}